
<input type="text" [(ngModel)]="searchKey" >
<button mat-button (click)="onSearchClick($event)">Search</button>
<button mat-button (click)="reset($event)">Reset</button>
<button mat-button (click)="collapseAll()">Collapse All</button>
<button mat-button (click)="expandAll()">Expand All</button>
<mat-checkbox [(ngModel)]="recursive">Recursive</mat-checkbox>
<mat-card>
  <mat-tree #mytree [dataSource]="dataSource" [treeControl]="treeControl" >
    <mat-nested-tree-node *matTreeNodeDef="let node">
      <li>
        <div class="mat-tree-node childnode" 
        [class.highlight]="node.onHover"
        (mouseleave)="mouseLeave(node)" 
        (mouseenter)="mouseEnter(node)">


        <div class="iaa-form-field-container reset_top">
  <div class="iaa-form-field-container-left reset_top">
    <img src="//via.placeholder.com/35">
  </div>
  <div class="iaa-form-field-container-right reset_top">
    <div class="iaa-form-field reset_top">Kristopher Nguyen&nbsp;|&nbsp;A123456789&nbsp;|&nbsp;12/12/2019 </div>
    <div class="iaa-form-field-sub reset_top">test{{node.item}} (3/4)</div>
  </div>

</div>
       
       </div>
      </li>
    </mat-nested-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
        <li class="example-tree-container">
          <div class="mat-tree-node" 
          [class.highlight]="node.onHover"
          (mouseenter)="mouseEnter(node)" 
          (mouseleave)="mouseLeave(node)">
            <button mat-icon-button matTreeNodeToggle
                    [matTreeNodeToggleRecursive]="recursive"
                  [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div class="iaa-form-field-container reset_top">
  <div class="iaa-form-field-container-left reset_top">
    <img src="//via.placeholder.com/35">
  </div>
  <div class="iaa-form-field-container-right reset_top">
    <div class="iaa-form-field reset_top">Kristopher Nguyen&nbsp;|&nbsp;A123456789&nbsp;|&nbsp;12/12/2019 </div>
    <div class="iaa-form-field-sub reset_top">{{node.item}} (3/4)</div>
  </div>

</div>
           
        </div>
        <ul>
          <div  *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</mat-card>